h1{
		background-color:Orange;
		padding:10px;
		color:white;
		text-align:center;
		box-shadow:0 0 10px black;
		font-family: 'Comic Sans MS', cursive;
		}
		
		p{
		background-color:limegreen;
		padding:10px;
		color:white;
		text-align:center;
		box-shadow:0 0 10px black;
		font-family: 'Comic Sans MS', cursive;
		font-size: 25px;
		}